.header  {
  background-color: rgb(172, 19, 233);
  font-family: fantasy;
  text-align: center;
}

.lesson  {
  background-color: rgb(179, 137, 196);
}

.title {
  color: rgb(49, 49, 235);
  font-family: fantasy;
  text-align: center;
}
.para {
  font-family: cursive
}
.lesson2  {
  background-color: rgb(221, 194, 231);
}

.dragon {
  background-color: rgb(15, 224, 224);
  text-align: center;
  padding: 20px 40px;
}

.dragon2 {
  background-color: rgb(15, 127, 224);
  text-align: center;
  padding: 20px 40px;
}

.section2 {
  width: 600px;
  height: 600px;
  margin: 20px auto;
  border: 15px solid black;
}

.image-padding {
  /* Sets padding on all sides to 20px */
  padding: 10px;
  background-color: #2f05ae;
}

.image-border {
  /* Sets border on all sides */
  border: 5px solid darkblue;
}

.image-margin {
  /* Sets all sides to 20px */
  margin: 30px;
}

#dragon-img1 {
  width: 200px;
  height: 200px;
  margin: 30px;
  padding: 10px;
  background-color: #0f0353;
  border: 5px solid rgb(12, 137, 151);
}

#dragon-img2 {
  width: 200px;
  height: 200px;
  margin: 30px;
  padding: 10px;
  background-color: #13356b;
  border: 5px solid rgb(66, 143, 153);
}

#dragon-img3 {
  width: 200px;
  height: 200px;
  margin: 30px;
  padding: 10px;
  background-color: #2a2e01;
  border: 5px solid rgb(111, 83, 5);
}

#dragon-img4 {
  width: 200px;
  height: 200px;
  margin: 30px;
  padding: 10px;
  background-color: #0d194a;
  border: 5px solid rgb(241, 84, 6);
}

#email {
  color: rgb(42, 13, 226);
  background-color: rgb(243, 4, 231);
}

#github {
  color: rgb(42, 13, 226);
  background-color: darkorange;
}

#portfolio {
    color: white;
    background-color: darkslateblue;
}
